.authorCard {
  position: relative;
  background-color: #f5f5f5;
  text-align: center;
  padding: 42px 14px 42px 14px;
  border-radius: 4px;
}
.authorPic {
  margin : 0 0 14px 0;
  border-radius: 50%;
  max-width: 100%;
  width: 120px;
}
.authorText {
  width: 100%;
}

.authorName {
  font-size: 18px;
  font-weight: 600;
}